*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #78ace9, #cb91f1);
    color: white;
    padding-top: 5%;
    padding-left: 10%;

}
.container h1{
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
}
.container h1 img{
    width: 58px;
}
.container button{
    margin: 2%;
    display: flex;
    align-items: center;
    border: none;
    gap: 10px;
    width: 220px;
    color: rgb(235, 230, 230);
    padding: 15px 25px;
    border-radius: 40px;
    cursor: pointer;
    outline: 0;
    font-size: 20px;
    background: linear-gradient(#38478a, #3d5da1);
}
.container button:hover{
    background: linear-gradient(#242e58, #567bcc);
}
.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 200px;
    background: white;
    color: #333;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 5px;
}
.input-box img{
    width: 25px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}